selector{
    property-name: value;
    property-name: value;
    /* Any tags can be a selector. */
}

#id{
    property-name: value;
}

.class{
    property-name: value;
}

h1 .class{
    property-name: value;
}